@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #E97A32;
  --secondary: #DD4923;
  --tertiary: #F9B337;
  --off-white: #F4F4F4;
  --dark: #451218;
}


* {
  font-family: "Urbanist", sans-serif;
}

html,
body {
  background-color: var(--primary);
}