.container {
    width: 100%;
    height: auto;
    background-color: var(--secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.headerText {
    font-size: 65px;
    color: var(--off-white);
    margin-bottom: 55px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
}

.emailContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
}

.emailInput {
    width: 70%;
    height: 55px;
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
    border-radius: 5px;
    padding-left: 10px;
}

.agreementContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--off-white);
}

.agreement {
    font-size: 20px;
}

.button {
    width: 230px;
    height: 55px;
    background-color: var(--off-white);
    border-radius: 5px;
}

.imageContainer {
    position: absolute;
    right: 100px;
    top: 25%;
}

.thanksText {
    color: var(--off-white);
    font-size: 20px;
}

@media screen and (max-width: 865px) {
    .emailContainer {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
}