.container {
    background-color: var(--primary);
    height: 453px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    background-color: var(--off-white);
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-size: 15px;
    margin-top: 35px;
}

.sloganText {
    font-size: 25px;
    color: var(--off-white);
    font-weight: 700;
}

.headerText {
    font-size: 45px;
    color: var(--off-white);
    margin-top: 35px;
    font-family: "Audiowide", sans-serif;
}